@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500&display=swap');
/* 
cores do site
#171717 - azul
#5F00BA - roxo 
*/

:root{
    --primary: #171717;
    --secundary: #fff;
    --tertiary: #111111;
    --quaternary: #333333;
    --quinary: #444;
    --senary: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: DM Sans;
    background-color: var(--primary);
    color: var(--secundary);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* Adicione ao seu arquivo styles.css */
.navbar a img {
    width: 30px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaçamento à direita do ícone */
    margin-left: 40px;
    margin-top: 14px;
}


.navbar a {
    color: var(--secundary);
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

.navbar a:hover {
    color: #00a0ff;
}

.navbar ul li{
    display: inline;
    list-style: none;
    padding-left: 25px;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}


.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: var(--secundary);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.bola{
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .bola{
    transform: translateX(24px);
}

#sun{
color: var(--primary);
}


.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.hero-content {
    flex: 1;
    padding-right: 20px;
}

.hero-image {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Adicione um espaçamento entre o nome e a imagem */
    width: 425px;
}

.hero-image a{
    text-align: right;
    color: inherit;
    text-decoration: none;
    font-size: 10px;
}

.hero h1 {
    font-size: 50px;
}

.hero-content h1 span{
    color: #F9004D;
}

.hero p {
    font-size: 18px;
    margin-bottom: 4%;
    color: rgb(130, 130, 130);
}

.digitando{
    width: 265px;
    animation: digitando 3s steps(32), blink .4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    margin-bottom: 4%;
}

@keyframes digitando{
    from{
        width: 0;
    }
}

@keyframes blink{
    40%{
        border-color: #007acc;
    }
}


.redes_sociais{
    display: flex;
    

}

.redes_sociais a{
    color: var(--secundary);
    padding-left: 15px;
}


.linkedin:hover{
    color: #0A66C2;
}

.github:hover{
    color: black;
}



/* Adicione ao final do seu arquivo styles.css */

.hero-buttons {
    margin-top: 20px;
}

.cv-button,
.linkedin-button {
    display: inline-block;
    padding: 17px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 15px;
    transition: background-color 0.3s;
    width: 200px;

}

.cv-button {
    background-color: #007acc;
}

.linkedin-button {
    background-color: transparent;
    border: solid 1px #007acc;
}

.cv-button:hover,
.linkedin-button:hover {
    background-color: #005a9649;
}


/* Adicione isso ao final do seu arquivo styles.css */


.profile {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui os itens igualmente na linha */
}

.profile img {
    width: 350px;
    height: 350px;
    border-radius: 45%;
    border: .5px solid var(--secundary);
}

.profile p {
    width: calc(100% - 350px - 20spx); /* Calcula a largura do parágrafo (100% - largura da imagem - margem entre os itens) */
    /* Adicione outros estilos conforme necessário */
}


.site{
    color: #F9004D;
}


#sobre {
    color: var(--secundary);
    padding: 80px 0;
    text-align: center;
    height: 100vh;
}

#sobre h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: #3498db;
}
#sobre p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    justify-content: center;
}


#sobre a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#sobre a:hover {
    color: #2980b9;
    text-decoration: underline;
}


/* Adicione no final do seu arquivo styles.css */

.about-info {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--secundary); /* Cor de texto mais suave (pode manter essa cor ou escolher outra) */
    justify-content: space-between;
}

/* Adicione essa regra para mudar a cor do texto dentro da classe about-info */
.about-info p {
    color: var(--secundary); /* Nova cor para o texto dentro da classe about-info */
}

/* Adicione essa regra para mudar a cor dos links dentro da classe about-info */
.about-info a {
    color: var(--secundary) !important; /* !important para garantir que esta regra tenha prioridade */
    text-decoration: none; /* Remover sublinhado padrão dos links */
    font-weight: bold; /* Deixar o texto em negrito para destacar */
}

/* Adicione uma regra para alterar a cor dos links quando houver hover (opcional) */
.about-info a:hover {
    color: #007ACC !important; /* Nova cor quando o mouse estiver sobre o link */
}


.section {
    padding: 30px 0;
}

.section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.section p {
    font-size: 18px;
    line-height: 1.5;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuste as dimensões da grade */
    grid-gap: 30px;
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 250px; /* Defina a altura desejada dos projetos */
}

.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    
}

.project:hover img {
    transform: scale(1.1);
    filter: brightness(0.1); /* Valor menor que 1 para escurecer a imagem */
    
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover .project-info {
    opacity: 1;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--secundary);
}

.project-info p {
    font-size: 1rem;
    color: #ccc;
}

/* Botões da descrição do projeto */
.project-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.github-button,
.preview-button {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.github-button {
    background-color: #007acc;
}

.preview-button {
    border: solid 1px #007acc;
    background-color: transparent;
}

.github-button:hover, .preview-button:hover{
    background-color: #005a9649;
}


/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    
}

.skills h2{
    font-size: 36px;
    padding-bottom: 4%;
}


.icones_habilidades{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    
}

.icones_habilidades a{
    color: inherit;
}



.html:hover{
    color: #FF5722;
    transition: 0.3s ease-in-out;
}

.css:hover{
    color: #2196F3;
    transition: 0.3s ease-in-out;
}

.js:hover{
    color: #F7E025;
    transition: 0.3s ease-in-out;
}

.react:hover{
    color: #08ACDA;
    transition: 0.3s ease-in-out;
}


/* Estilos para a seção de Contato */
#contato {
    background-color: var(--primary);
    color: var(--secundary);
}

#contato h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

#contato p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: var(--quaternary);
    color: #fff;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--senary);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00a0ff;
    background-color: var(--quinary);
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: 80%;
    padding: 15px;
    border: none;
    background-color: #00a0ff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #007acc;
}



.footer {
    background-color: var(--tertiary);
    padding: 20px;
    text-align: center;
}

.footer p {
    color: var(--secundary);
    font-size: 16px;
}


/* Barra de rolagem principal (para navegadores que suportam WebKit) */
::-webkit-scrollbar {
    width: 12px;
}

/* Cor da barra de rolagem principal (para navegadores que suportam WebKit) */
::-webkit-scrollbar-thumb {
    background-color: #007acc;
    border-radius: 50px;
}

/* Cor de fundo da barra de rolagem (para navegadores que suportam WebKit) */
::-webkit-scrollbar-track {
    background-color: #171717;
}

/* Barra de rolagem principal */
body {
    scrollbar-width: thin;
    scrollbar-color: #007acc     #171717;
    border-radius: 10px;
}

#scrollToTopBtn {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00a0ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}




/* Estilos para telas menores, como dispositivos móveis */
@media only screen and (max-width: 600px) {
    .navbar a {
        font-size: 8px;
    }

    .hero h1 {
        font-size: 8px;
    }

    .hero p {
        font-size: 8px;
    }
    .container {
        max-width: 100%; /* Alteração para tornar o conteúdo responsivo */
    }
    
    .navbar {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar a img {
        width: 50px;
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .hero {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .hero-content {
        padding: 0 20px;
    }
    
    .hero h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .hero p {
        font-size: 12px;
        margin-bottom: 15px;
    }
    /* Adicione mais estilos conforme necessário */
}

